
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@font-face {
  font-family: 'Ekachon';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Ekachon-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Ekachon_Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/Ekachon-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Ekachon_Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../../public/fonts/Ekachon-Italic.ttf') format('truetype'),
}

@font-face {
  font-family: 'Ekachon_Light';
  font-style: normal;
  font-weight: lighter;
  src: url('../../public/fonts/Ekachon-Light.ttf') format('truetype'),
}


.Ekachon_Bold {
  font-family: 'Ekachon_Bold';
}
.Ekachon_Italic {
  font-family: 'Ekachon_Italic';
}

.Ekachon_Light {
  font-family: 'Ekachon_Light' !important;
}

.Ekachon_Normal {
  font-family: 'Ekachon';
}



.grayBlack {
  color: #6f6f6f;
}

.blueDark {
  color: #002D63;
}

.bg-blueDark {
  background-color: #1A477F;
}

.bg-grayWhite {
  background-color: #F5F5F7;
}

.blue {
  color: #0050F0;
}

.orange {
  color:#f68b1f;
}

.bg-orange-ttb {
  background-color: #f68b1f;
}

.btn-orange {
  background-color: #f68b1f;
  color: white;
}

.btn-normal-blue {
  background-color: #0056ff;
  border: 1px solid #0056ff;
  color: white;
  padding: 5px 10px
}

.btn-normal-blue:hover {
  background-color: #0056ff;
  border: 1px solid #0056ff;
  color: white;
  padding: 5px 10px
}

.btn-orange-transparent {
  background-color: white;
  color: #f68b1f;
  border: 2px solid #f68b1f;
}

.border-maincontent {
  border: 1px solid #ccd5e0;
}

.item-leaveDetail > li {
  margin: 10px 0;
} 

.teal-bgcolor {
  background-color: #00a0a9;
}